header
  a(href=`${baseUrl}/index.html`)
    img(src=`${baseUrl}/static/images/common/logo.png` alt="")
  .navigation
    a(href=`${baseUrl}`) Home/Events
    a(href=`${baseUrl}/about.html`) About
    a(href=`${baseUrl}/people.html`) People
    a(href=`${baseUrl}/services.html`) Services
    a(href=`${baseUrl}/sports.html`) Sports
    a(href=`${baseUrl}/guides.html`) Guides
    a(href="https://freshmen.nuscomputing.com", target="_blank") FOP
    a(href="https://www.flickr.com/photos/137141057@N04/albums", target="_blank") Photos
