header
  a(href=`${baseUrl}/index.html`)
    img(src=`${baseUrl}/static/images/common/logo.png` alt="")
  .navigation
    .container 
      .row
        .col
          a(href=`${baseUrl}`) Home/Events
        .col
          a(href=`${baseUrl}/about.html`) About
        .col
          a(href=`${baseUrl}/people.html`) People
        .col
          a(href=`${baseUrl}/services.html`) Services
        .col
          a(href=`${baseUrl}/sports.html`) Sports
        .col
          a(href=`${baseUrl}/guides.html`) Guides
        .col
          a(href="https://freshmen.nuscomputing.com", target="_blank") FOP
        .col
          a(href="https://www.flickr.com/photos/137141057@N04/albums", target="_blank") Photos
