extends ../templates/base.pug

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/guides.css`)

block main
  .heading
    h1 Guides
    p.
      Listed here are guides, links to various platforms and FAQs which will be useful at different
      stages of your undergraduate life. Feel free to explore!
  .container-guides
    .guide
      img(src=`${baseUrl}/static/images/guides/academics.svg`, alt="")
      .contents
        h1: a(href=`${baseUrl}/guides/academics.html`).
          Academics
        a(href=`${baseUrl}/guides/academics.html#programme-structure`) Programme Structure
        br
        a(href=`${baseUrl}/guides/academics.html#su-options`) S/U Options
        br
        a(href=`${baseUrl}/guides/academics.html#past-year-exam-papers`) Past Year Exam Papers
    .guide
      img(src=`${baseUrl}/static/images/guides/platforms.svg`, alt="")
      .contents
        h1: a(href=`${baseUrl}/guides/platforms.html`).
          Platforms
        a(href=`${baseUrl}/guides/platforms.html#nus-email`) NUS Email
        br
        a(href=`${baseUrl}/guides/platforms.html#myedurec`) myEduRec
        br
        a(href=`${baseUrl}/guides/platforms.html#luminus`) LumiNUS
        br
        a(href=`${baseUrl}/guides/platforms.html#nusmods`) NUSMods
        br
        a(href=`${baseUrl}/guides/platforms.html#nusync`) NUSync
        br
        a(href=`${baseUrl}/guides/platforms.html#facilities-booking`) Facilities Booking
    .guide
      img(src=`${baseUrl}/static/images/guides/special_programmes.svg`, alt="")
      .contents
        h1: a(href=`${baseUrl}/guides/special_programmes.html`).
          Special Programmes
        a(href=`${baseUrl}/guides/special_programmes.html#special-programmes`) Special Programmes
        br
        a(href=`${baseUrl}/guides/special_programmes.html#double-degree-programme-faqs`) Double Degree Programme FAQ
    .guide
      img(src=`${baseUrl}/static/images/guides/overseas_opportunities.svg`, alt="")
      .contents
        h1: a(href=`${baseUrl}/guides/overseas_opportunities.html`).
          Overseas Opportunities
        a(href=`${baseUrl}/guides/overseas_opportunities.html#nus-overseas-colleges`) NUS Overseas Colleges
        br
        a(href=`${baseUrl}/guides/overseas_opportunities.html#student-exchange-programmes`) Student Exchange Programmes
        br
        a(href=`${baseUrl}/guides/overseas_opportunities.html#summer-and-winter-programmes`) Summer and Winter Programmes
    .guide
      img(src=`${baseUrl}/static/images/guides/soc_student_award.svg`, alt="")
      .contents
        h1: a(href=`${baseUrl}/guides/soc_student_award.html`).
          SoC Student Award
        a(href=`${baseUrl}/guides/soc_student_award.html#introduction`) Introduction
        br
        a(href=`${baseUrl}/guides/soc_student_award.html#pillars`) Pillars
        br
        a(href=`${baseUrl}/guides/soc_student_award.html#application`) Application
