extends ../templates/base.pug

mixin event(imageId)
  .event(data-purl=`${baseUrl}/static/images/events/${imageId}/poster.jpg`)
    img(src=`${baseUrl}/static/images/events/${imageId}/thumbnail.jpg`, alt="")
    .description
      block

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/sports.css`)
  script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit")
  script(src=`${baseUrl}/static/js/sports.js`)
block main
  .hero
    .description
      h1 School of Computing Sports 2020

  .heading
    p.
      Listed here are guides, links to various platforms and FAQs which will be useful at different
      stages of your undergraduate life. Feel free to explore!


  .container-sports
    .sports
      .contents
        h1 Events
        .container-events
          +event("sports1920/night_cycling")
            h1 SoC Night Cycling 2020
            h2 Postponed until further notice
            p.
              Participate and feast at Bedok85 Fengshan, have dessert under the stars 🤩  at Marina Barrage and enjoy the ride with the night breeze

        p Contact Sidney @ 91392266 for any enquiries.


    .sports
      .contents
        h1 Inter-Faculty Games (IFG)
        .row
          .col-sm-6
            a(href=`https://t.me/joinchat/E2fpHxlOFSc7J7xEjO7h1g`) Badminton
              span(data-name=`badminton`)
            br
            a(href=`https://t.me/ComputingIFGbball`) Basketball (M)
              span(data-name=`basketballm`)
            br
            a(href=`https://t.me/joinchat/E1_TWQ1piS-0ZT2kgZTwIw`) Basketball (F)
              span(data-name=`basketballf`)
            br
            a(href=`https://t.me/joinchat/Mf2WyxN56ErmKpeLlYq_Mg`) Contract Bridge
              span(data-name=`bridge`)
            br
            a(href=`https://t.me/joinchat/Cr6pORk3PIBuCQvqwFpBhw`) Dodgeball
              span(data-name=`dodgeball`)
            br
            a(href=`https://t.me/joinchat/Mc8QVx0xg74HqBMLcP0UfA`) DoTA 2
              span(data-name=`dota2`)
            br
            a(href=`https://t.me/joinchat/HliuJRnzCpLzF9Tzyi4lZg`) Floorball (M)
              span(data-name=`floorballm`)
            br
            a(href=`https://t.me/joinchat/GiVX0hu9EDTESt2J7Jeb8g`) Floorball (F)
              span(data-name=`floorballf`)
            br
            a(href=`https://t.me/joinchat/L3necFH_RL5LWhFnjC0i2w`) Handball (F)
              span(data-name=`handballf`)
            br
            a(href=`https://t.me/joinchat/HTbWLxnt7UAUj9lfwwsCGA`) Chess
              span(data-name=`chess`)
            br
            a(href=`https://t.me/joinchat/L3necBw5SahJn9b47Nx6GA`) Netball
              span(data-name=`netball`)
            br
            a(href=`https://t.me/joinchat/IHHPaRwBoOMoPwGeGY53NQ`) Reversi
              span(data-name=`reversi`)
          .col-sm-6
            a(href=`https://t.me/socsoccerifg2020`) Soccer (M)
              span(data-name=`soccerm`)
            br
            a(href=`https://t.me/joinchat/DlgosxXVVtFqQYCkDdrPhg`) Soccer (F)
              span(data-name=`soccerf`)
            br
            a(href=`https://t.me/joinchat/FHu8WRqiqF3xg2s6oJ_OUw`) Table Tennis
              span(data-name=`tabletennis`)
            br
            a(href=`https://t.me/joinchat/HbvrLhx4f9VxO0tmhWTDqw`) Tchoukball
              span(data-name=`tchoukball`)
            br
            a(href=`https://t.me/joinchat/FDHyZRjA7OdmWIUushOp4w`) Tennis
              span(data-name=`tennis`)
            br
            a(href=`https://t.me/joinchat/LmaHbhiwKL-bkZKLDRGndQ`) Touch Rugby
              span(data-name=`touchrugby`)
            br
            a(href=`https://t.me/joinchat/DT3MGRkZ8WWUiIcKY3VG6Q`) Track (M)
              span(data-name=`trackm`)
            br
            a(href=`https://t.me/joinchat/IyordkdeVYHz1IN_uORAHw`) Ultimate Frisbee
              span(data-name=`frisbee`)
            br
            a(href=`https://t.me/joinchat/Cv4EYhuFigpMQlciaQbAkA`) Volleyball (M)
              span(data-name=`volleyballm`)
            br
            a(href=`https://t.me/joinchat/DOEYIRqdW1gG5_TzxOMNKA`) Volleyball (F)
              span(data-name=`volleyballf`)
            br
            a(href=`https://t.me/joinchat/FjpJGxTcwbNP1B8sLvEZww`) Swim (M)
              span(data-name=`swimm`)
            br
            a(href=`https://t.me/joinchat/FjpJGxTcwbNP1B8sLvEZww`) Swim (F)
              span(data-name=`swimf`)
        br
        p Contact Terry @ 91504003 for any enquiries

    .sports
      .contents
        h1 &#x1F3BE;&#x1F3C0;&#x1F945; IFG FAQs &#x1F3D2;&#x1F3C8;&#x1F3F8;&#x1F3AE;
        br
        p 1: What is IFG?
        br
        p
          | IFG refers to Inter Faculty Games that runs from mid July to mid August, whereby students from each faculty get to compete against one another in various sports.
          | It is NOT Inter-Hall Games (IHG) and the commitment ends in the first few weeks of school so no worries about it affecting school or IHG.
        span -----
        br
        p 2: Do I need experience to participate in IFG?
        br
        p
          | No! You simply have to join the telegram/WhatsApp chat groups of the sports you are interested in and attend trainings to learn, improve and make new friends!
          | Cutting of teams only take place nearer competition dates (subject to each captain’s discretion), so you can definitely join to experience the sport and you just might get chosen to represent the faculty for the sport!
        span -----
        br
        p 3: What is the commitment for IFG like?
        br
        p
          | Each sport has about 1-2 trainings per week and they’re mostly optional! Of course, higher commitment from you will mean higher chances of getting chosen for the team.
          | New IFG teams are chosen every AY, so joining a sport now does not mean you have to stick with it for your entire candidature (unless you really want to!) You can try new sports every AY even &#x1F60A;&#x1F609;
        br
        span -----
        br
        p 4: I’m not sure which sports I should join, how can I decide?
        br
        p
          | Just join the sports you are interested in, attend a training or two, if you find that you like it you can stay, otherwise you are also free to leave the group (no pressure!)
        span -----
        br
        p 5: I’m a female, will it be harder for me to get into the team in mixed gender games?
        br
        p
          | Most definitely not! Each mixed gender sport has a minimum gender ratio so girls are very welcomed! (especially here in computing!! pleasee join IFG!)
        span -----
        br
        p Hope we have cleared up some misconceptions about IFG! Join us at IFG now!
        p We hope to see you around! &#x26BD;&#x1F3AE;&#x1F3C0;&#x1F44A;
        br
        br
  .modal
    img(alt="")
